.forecast-day-container {
    color: var(--color4);
}

.forecast-day-card-container {
    margin-top: 0.6rem;
}

.forecast-day-card {
    /* display: flex; */
    /* width: 100%; */
    padding: 0.6rem;
}

.date {
    font-size: smaller;
}
