.container {
    display: flex;
    flex-direction: column;
    gap: 2rem;
    padding-block: 0.6rem;
    width: 85%;
    margin: 0 auto;
    overflow-x: hidden;
}

.search-container {
    position: relative;
    display: flex;
    align-items: center;
}

#searchBox {
    border-radius: 0.8rem;
    width: 100%;
    padding-right: 2rem;
}

.searchbox-parent {
    position: relative;
}

.icon-search-btn {
    position: absolute;
    right: 0.6rem;
    color: rgb(112, 153, 216);
    background: none;
}

.condition-image {
    position: fixed;
    opacity: 0.2;
    top: -2rem;
    filter: blur(3px);
}

.suggest {
    width: 97%;
    background: rgba(255, 255, 255);
    position: absolute;
    top: 2.4rem;
    left: 0.6rem;
    /* padding-inline: 0.6rem; */
    z-index: 10;
}

.suggest > li:hover,
.suggest > li:focus {
    background: #9895cf;
}

.bg-img {
    position: absolute;
    opacity: 0.2;
    width: 100%;
    object-fit: contain;
    object-position: center;
    top: 15%;
}
